/*fonts*/
@font-face {
    font-family: "Futura PT";
    src: url("fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("fonts/FuturaPT-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Futura PT";
    src: url("fonts/FuturaPT-Light.woff2") format("woff2"),
        url("fonts/FuturaPT-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Futura PT";
    src: url("fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("fonts/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*general styles*/
.body {
	margin: 0;
	padding: 0;
	font-family: "Futura PT", "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}